:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #2196f3;
  --tertiary-color: #ffffff;
  --quaternary-color: #2f303a;
  --quinary-color: #ECECEC;
  --senary-color: #f5f4fa;
  --septenary-color:  #757575;
  --octonary-color: #EEEEEE;
  --nonary-color: #AFB1B8;
}

body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display:block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* .navigation-list .link:visited,
.navigation-list .link:active {
  color: var(--main-color);
} */

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ========== COMPONENTS ========== */

.logo-web-studio-light-theme {
  color: var(--main-color);
  background-color: var(--tertiary-color);
}

.logo-web-studio-dark-theme {
  color: var(--tertiary-color);
  background-color: var(--quaternary-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.button-list-item:hover,
.button-list-item:focus,
.address-home:hover,
.address-home:focus,
.mailto:hover,
.mailto:focus,
.phone:hover,
.phone:focus,
.contact-mailto:hover,
.contact-mailto:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: var(--secondary-color);
}

.navigation-list-link,
.mailto,
.phone,
.address-home,
.contact-mailto,
.contact-phone,
.social-icon-link,
.our-customers-item,
.join-us-icon-link,
.modal-btn-portfolio,
.images-list-item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== END COMPONENTS ========== */

/* ========== HEADER ========== */

.header {
  border-bottom: 1px solid var(--quinary-color);
}

.header .container{
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 23px;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.header .mailto {
  margin-right: 50px;
}

.logo-web-studio {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-web-studio span {
  color: var(--secondary-color);
}

.navigation-list-link,
.mailto,
.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.navigation-list-link {
  color: var(--main-color);

}

.mailto,
.phone {
  color: var(--septenary-color);

}

.mailto {
  margin-left: auto;
}

.mailto-icon,
.smartphone-icon {
  width: 16px;
  height: 12px;
  cursor: pointer;
  margin-right: 10px;
}

.mailto:hover,
.mailto:focus,
.phone:hover,
.phone:focus {
  fill: var(--secondary-color);
}

.agency-main:after {
  position: absolute;
  top: 76px;
  display: block;
  content: "";
  width: 53px;
  height: 4px;
  background: var(--secondary-color);
  border-radius: 2px;
  
}

.portfolio-main::after {
  position: absolute;
  top: 76px;
  display: block;
  content: "";
  width: 58px;
  height: 4px;
  background: var(--secondary-color);
  border-radius: 2px;
}

/* ========== END HEADER ========== */

/* ========== EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU ========== */

.hero {
  background-color: var(--quaternary-color);
  background-image: linear-gradient(
  rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)),
  url("../images/background-image.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  display: block;
  align-items: center;
}

.effective-solutions-for-your-business {
  padding-top: 200px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 652px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color); 
}

.modal-btn {
  margin-left: 485px;
  margin-bottom: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  cursor: pointer;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
}

/* ========== END EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU ========== */

/* ========== NASZE ATUTY ========== */

.our-strength .container {
  display: inline;
}

.our-strengths-list {
  display: flex;
  justify-content: center;
}

.our-strengths-item:not(:last-child) {
  margin-right: 30px;
}

 .icon-our-strengths {
  width: 270px;
  height: 120px;
  background-color: var(--senary-color);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

 .icon {
  width: 70px;
  height: 70px;
}

.our-strengths-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-bottom: 10px;
}

.our-strengths-text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--septenary-color);
}

/* ========== END NASZE ATUTY ========== */

/* ========== CZYM SIĘ ZAJMUJEMY ========== */

.what-we-do .container{
  display: block;
}
.what-we-do-list {
  display: flex;
}

.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-title,
.our-team-title,
.our-customers-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.what-we-do-list-item {
  position: relative;

}

.description {
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--tertiary-color);
  padding-top: 25px;
}

.what-we-do-list-item > .description {
  position: absolute;
  top: 224px;
}

/* ========== END CZYM SIĘ ZAJMUJEMY ========== */

/* ========== NASZ ZESPÓŁ ========== */

.our-team {
  background: var(--senary-color);
  margin-top: 94px;
}

.our-team .container {
  display: block;
}

.our-team-list {
  display: flex;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
 }

.our-team-list-item {
  background: var(--tertiary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  color: var(--main-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-job {
  font-weight: 400;
  color: var(--septenary-color);
}

.team-name,
.team-job {
  font-size: 16px;
  line-height: 1.888;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 18px;
}

.social-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--nonary-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-icon-link:hover,
.social-icon-link:focus {
  fill: var(--tertiary-color);
  background-color: var(--secondary-color);
 }

/* ========== END NASZ ZESPÓŁ ========== */

/* ========== NASI KLIENCI ========== */

.our-customers .container {
  display: block;
}

.our-customers-list {
  display: flex;
}

.our-customers-item {
border: 1px solid var(--nonary-color);
box-sizing: border-box;
border-radius: 4px;
padding: 16px 32px;
fill: var(--nonary-color);
cursor: pointer;
}

.icon-our-customers {
  width: 106px;
  height: 60px;
}

.our-customers-item:hover,
.our-customers-item:focus {
  fill: var(--secondary-color);
}

.our-customers-item:not(:last-child) {
  margin-right: 30px;
}

/* ========== END NASI KLIENCI ========== */

/* ========== END MAIN ========== */

/* ========== FOOTER ========== */

.footer {
  background-color: var(--quaternary-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.left-side {
  margin-right: 70px;
}

.address-home {
  color: var(--tertiary-color);
}

.logo-web-studio-dark-theme {
  padding-bottom: 20px;
}

.contact-mailto,
.contact-phone {
  color: rgba(255, 255, 255, 0.6);
}

.address-home,
.contact-mailto,
.contact-phone {
  padding-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.middle-side {
  display: block;
}

.join-us-title,
.singup-to {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-color);
  padding-bottom: 20px;
}

.join-us-list {
  display: flex;
}

.join-us-item {
  display: flex;
}

.join-us-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--tertiary-color);
  background-color: rgba(255, 255, 255, 0.1);; 
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.join-us-icon-link:hover,
.join-us-icon-link:focus {
  fill: var(--tertiary-color);
  background-color: var(--secondary-color);
}

.join-us-item:not(:last-child) {
  margin-right: 10px;
}

.right-side {
  margin-left: 78px;
}

.singup-list {
  display: flex;
}

.singup-list-item:not(:last-child) {
  margin-right: 24px;
}

.singup-email {
  width: 358px;
  height: 50px;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.singup-email:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.singup-btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding-left: 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.singup-icon {
  width:24px;
  height: 24px;
  margin-left: 24px;
}

/* ========== END FOOTER ========== */

/* ========== BACKDROP ========== */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--tertiary-color);
  padding: 9px;
}

.close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.close-btn-icon {
  width: 18px;
  height: 18px;
}

/* .is-hidden {
  opacity: 0;
  pointer-events: none;
} */

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding: 40px 40px 12px;
}

.form-box {
  position: relative;
  margin-bottom: 10px;
}

.form-box > .singup-form-icon {
  position: absolute;
  top: 14px;
  left: 15px;
}

.singup-form-field {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: var(--septenary-color);
  margin-left: 40px;
  margin-right: 40px;
}

.singup-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
   transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.singup-field:focus,
.singup-field-feedback:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.singup-form-icon {
  width: 12px;
  height: 12px;
}

.singup-field-feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

}

.policy-box {
  margin: 20px 54px 30px;
}

.modal-form-policy-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--septenary-color);
  align-content: center;
}

.modal-form-policy-text > a {
  color: var(--secondary-color);
}

.modal-form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-image: url("../images/Vector.svg");
  background-size: contain;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  
}

.rules-policy {
  color: var(--secondary-color);
}

.singup-form-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ========== END BACKDROP ========== */

/* ========== PORTFOLIO ========== */

.main {
  width: 1600px;
}

.button-list {
  display: flex;
  padding-bottom: 50px ;
  justify-content: center;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.modal-btn-portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: var(--senary-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  color: var(--tertiary-color);
  background: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.images-list-item {
  width: 370px;
  margin-bottom: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  background: var(--tertiary-color);
  border-bottom: 1px solid var(--octonary-color);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.images-hidden {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--tertiary-color);
  padding: 49px 45px 24px;
  background-color: rgba(33, 150, 243, 0.9);;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-list-item:hover .text,
.images-list-item:focus .text {
  transform: translateY(0);
}

.images-list-item:hover,
.images-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.images-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  padding: 20px 24px 4px;
}

.images-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--septenary-color);
  padding: 0 24px 20px;
}

.images-name,
.images-type {
  border-left: 1px solid var(--octonary-color);
  border-right: 1px solid var(--octonary-color);
}

/* ========== END PORTFOLIO ========== */
